@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}



.product {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
}

.product__colors {
  padding-left: 50px;

}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.color {
  display: flex;
}

.color__name {
  width: 100%;
  margin-left: 10px;

}

.color-box__white {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 15px #fff;
}

.color-box__black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 0 0 15px #fff;
}

.color-box__red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF0000;
  box-shadow: 0 0 15px #fff;
}

.color-box__skyblue {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #87CEEB;
  box-shadow: 0 0 15px #fff;
}

.button {
  border: solid white 1px;
  text-align: center;
  border-radius: 1rem;
  padding: 5px;
  width: 140px;
  position: absolute;
  right: 30%;
  top: 55%
}

.button:hover {
  box-shadow: 0 0 15px #fff;
  ;
}

.button a {
  color: #fff;

  text-decoration: none;

}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}
